@import url('https://fonts.googleapis.com/css?family=Alatsi|Lobster&display=swap');

:root{
font-family: 'Alatsi', sans-serif;
--main-color: black;
scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}
.row-menu{ 
    display: flex;
    padding-right: 90px;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}
 .row-menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}

.search-box  {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 1px 10px 10px 10px;
    color: black; 
}

h1 {
font-family: 'Lobster', cursive;
font-size: 4rem;
text-align: center;
margin: 0rem 0;
}

p{
font-size: 1rem;
text-align: center;
}
header .menu {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
}

header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header .menu a:hover {
    border: 1px solid var(--main-color);
}

 @media(min-width: 600px){
    header .menu {
        display: flex;
        justify-content: space-around;
    }
    }
     .banner{
        background-image: url(../img/slider.jpg);
        width: 100%;
        background-size: center; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
h2 {
font-size: 1.5rem;
text-align: center;
margin: 1rem 0;
}

 .products .product-list{
        width: 100%;
        display: flex;
        justify-content: center;
    }

 .product-list {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.product-list img {
  width: 100%;
  height: auto;
}

.product-list .btn {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #2c1580;
  color: rgb(242, 241, 247);
  font-size: 15px;
  padding: 5px 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
  text-align: justify;
}

.product-list .btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(235, 81, 81);
}

 @media (min-width: 500px){
     .products {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 10px;
     }
 }
 h3 {
font-size: 1.5rem;
text-align: center;
margin: 10px 30px 2px 10px;
}
 p{
  font-size: 1rem;
  text-align: center;
}
 }

.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgb(35, 192, 56); 
  color: black; 
  border: 2px solid #4CAF50;
}
img {
  border-radius: 8px;
   display: flex;
    padding: 30px;
    width: 100%;
    justify-content: flex-start;

}
.mailing{
    border-style: double
}

h4 {
font-size: 1rem;
text-align: center;
margin: 10px 30px 2px 10px;
}
.first{
    font-size: 1rem;
text-align: center;
margin: 10px 30px 2px 10px;
}

.header-phone{
    justify-content: flex-end;
    width: 100%;
    margin: 10px 30px 2px 10px;
    color: black;
}
.work-days{
    max-width: 600px;
    justify-content: flex-end;
    width: 100%;
    margin: 2px 0px 5px 100px;
    color: black;
}